<div class="main">
<header class="header">
      <nav>
    <h1 class="Title">Zaid Ahmed</h1>

        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
 <div class="container">
<div class="About">
        <h1>"Welcome to My Digital Playground, </h1>

        <p> Where Imagination Meets Innovation."</p>
        <p class="Paragraph">I am an international student studying computer programming at Gerogian college.
            I am a 19 year old trying to acheive my dreams of being a software developer. This is my portfolio website. It includes some of the sites I have made. My first website was a simple pizza ordering site which was made using HTML & CSS. Second website was a simple yet micro website named afted a type writer "LEGO". That was my final project for the course. Aditionally, I have made a "See N Say storymaker" and a simple "TO-DO grocery list" website using javascript. Lastly, using ASP.Net, I made a dynamic car Dealings website that has CRUD funtionality.
  </p>
    </div>
 </div>
 
<footer class="footer">
  <div class="logo-links">
    <!-- GitHub Logo and Link -->
    <p class="design"> <a href="https://github.com/Zaidahmed27">
      <img src="images/git.png" alt="GitHub Logo" width="24" height="24">
    </a></p>
    <!-- LinkedIn Logo and Link -->
    <p class="design"> <a href="https://www.linkedin.com/in/zaid-ahmed-mohammed-8bba90241">
      <img src="images/link.png" alt="LinkedIn Logo" width="24" height="24">
    </a></p>
    <!-- Instagram Logo and Link -->
    <p class="design"> <a href="https://www.instagram.com/m.a_zaid/">
      <img src="images/ins.png" alt="Instagram Logo" width="24" height="24">
    </a></p>
  </div>
  <div class="footer-text">
    <p>Terms of Use . Privacy Policy</p>
    <p class="copy">© Zaid Ahmed</p>
  </div>
</footer>


</div>



