<div class="main">
<header class="header">
    <nav>
        <h1 class="Title">Zaid Ahmed</h1>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
</header>
 <div class="About">
        <h1>"Welcome to My Digital Playground, </h1>
        <p> Where Imagination Meets Innovation."</p>
        <p class="Paragraph">Hello, my name is Zaid Ahmed. I'm a passionate and committed Georgian College student studying computer programming, on a mission to apply my love of code to practical problems. I started this thrilling journey when I was 18 years old, and I'm still in awe of the technology's almost limitless potential. I enjoy the difficulties that come with being a developer, whether it's creating beautiful websites, using code to solve complex issues, or learning new programming languages. My objective is to produce flawlessly functioning digital experiences that also move and inspire users. </p>
    <br>
    <br>
    <a class="Book" href="/about">📖 Read More</a>
    </div>

  <footer class="footer">
  <div class="logo-links">
    <!-- GitHub Logo and Link -->
    <p class="design"> <a href="https://github.com/Zaidahmed27">
      <img src="images/git.png" alt="GitHub Logo" width="24" height="24">
    </a></p>
    <!-- LinkedIn Logo and Link -->
    <p class="design"> <a href="https://www.linkedin.com/in/zaid-ahmed-mohammed-8bba90241">
      <img src="images/link.png" alt="LinkedIn Logo" width="24" height="24">
    </a></p>
    <!-- Instagram Logo and Link -->
    <p class="design"> <a href="https://www.instagram.com/m.a_zaid/">
      <img src="images/ins.png" alt="Instagram Logo" width="24" height="24">
    </a></p>
  </div>
  <div class="footer-text">
    <p>Terms of Use . Privacy Policy</p>
    <p class="copy">© Zaid Ahmed</p>
  </div>
</footer>

</div>




