<div class="main">
<header class="header">
  <nav>
    <h1 class="Title">Zaid Ahmed</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/project">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<div class="Projects">
  <h2 class="secondTitle">Visit the websites 
    <br>
      I've brought to life: 
    <br>
      From Code to Creation
  </h2>


  <div class="project">
    <img class="project-pic" src="images/bookworm.png" alt="#">
    <h3><a href="https://zaidahmed27.github.io/SeeNSay/">Interactive "See 'n Say" Game</a></h3>
    <p class="project-subtitle">Bringing Educational Fun to Life</p>
    <p class="project-paragraph">Discover the nostalgia of the time-honored "See 'n Say" toy transformed into a fun digital game. Explore animal sounds and increase early childhood education via play as you delve into a world of learning and enjoyment.</p>
  </div>

  <div class="project">
    <img class="project-pic" src="images/car.jpg" alt="#">
    <h3><a href="https://edealers.azurewebsites.net/">Edealers - Streamlined Car Shopping</a></h3>
    <p class="project-subtitle">Driving the Future of Car Buying</p>
    <p class="project-paragraph">Explore "Edealers," your one-stop destination for hassle-free car buying and selling. Browse a wide selection of new and used cars with ease, and enjoy a seamless shopping experience.</p>
  </div>

  <div class="project">
    <img class="project-pic" src="images/type.jpg" alt="#">
    <h3><a href="https://zaidahmed27.github.io/MacroSite/index.html">Lego Ideal Typewriter</a></h3>
    <p class="project-subtitle">Nostalgia Meets Creativity</p>
    <p class="project-paragraph">Step into a world where classic typewriters are reborn using the magic of Lego bricks. Our "Lego Ideal Typewriter" project takes you on a journey through the art of recreating iconic typewriters with precision and creativity.</p>
  </div>

   <div class="project">
    <img class="project-pic" src="images/pizza.jpg" alt="#">
    <h3><a href="https://zaidahmed27.github.io/Pizza/">Zaid's Pizza</a></h3>
    <p class="project-subtitle"> Satisfy Your Cravings with a Click</p>
    <p class="project-paragraph">Introducing Zaid's Pizza, your go-to destination for hassle-free pizza ordering.</p>
  </div>

  <div class="project">
    <img class="project-pic" src="images/todo.jpg" alt="#">
    <h3><a href="https://zaidahmed27.github.io/Assignment-3/">My Grocery List</a></h3>
    <p class="project-subtitle"> SYour Grocery List, Your Way</p>
    <p class="project-paragraph">Simplify your grocery shopping with GroceryList, a user-friendly site that transforms the way you create and manage your grocery list.</p>
  </div>

</div>

<footer class="footer">
  <div class="logo-links">
    <!-- GitHub Logo and Link -->
    <p class="design"> <a href="https://github.com/Zaidahmed27">
      <img src="images/git.png" alt="GitHub Logo" width="24" height="24">
    </a></p>
    <!-- LinkedIn Logo and Link -->
    <p class="design"> <a href="https://www.linkedin.com/in/zaid-ahmed-mohammed-8bba90241">
      <img src="images/link.png" alt="LinkedIn Logo" width="24" height="24">
    </a></p>
    <!-- Instagram Logo and Link -->
    <p class="design"> <a href="https://www.instagram.com/m.a_zaid/">
      <img src="images/ins.png" alt="Instagram Logo" width="24" height="24">
    </a></p>
  </div>
  <div class="footer-text">
    <p>Terms of Use . Privacy Policy</p>
    <p class="copy">© Zaid Ahmed</p>
  </div>
</footer>

</div>


